// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chatboxhead {
    background: #666;
    color: white;
    padding: 0.5rem;
    overflow: hidden;
 
    border-right: 1px solid rgba(85, 85, 85, 0.87);
    border-left: 1px solid rgba(85, 85, 85, 0.87);
}
 
.chatboxhead h1 {
    display: inline;
    font-size: 17px;
    font-weight: 700;
}
.chatbox-bar .fa fa-comments-o{
  display: inline-block;
  padding: 4px 5px 2px 5px;
}
.top-bar .fa fa-minus-square-o {
  position: relative;
  top: 3px;
}
.chatbox-bar .left {
  float: left;
}
.chatbox-bar .right {
  float: right;
  padding-top: 5px;
}
.chatbox-bar > * {
  position: relative;
}
.chatbox-bar::before {
  context: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
  background: radial-gradient(#ffffff, #000000);
  animation: pulse 1s ease alternate infinite;
}